# Local files
output/*
local/*
data/tmp/*
data/db/*
resources/*
**/*.pdf
**/*.DS_Store
*.log
venv
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Excel cache
**/~$*.xlsx
*.xlsx

# VSCode
.vscode/

# Examples
examples/heart_rate/*.health
examples/heart_rate/*.csv
examples/heart_rate/*.json
examples/heart_rate/*.txt